.basket {
  width: 50vw;
  height: min-content;
  border-top: 1px solid gainsboro;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  position: absolute;
  top: 96px;
  right: 5px;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  z-index: 1000;

  &Order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    min-height: auto;

    &Empty {
      height: 235px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
        color: #252525;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.75em;
        margin-bottom: 15px;
      }

      button {
        width: 220px;
        height: 57px;
        margin-top: 7px;
        background-color: #b5d8f7;
        vertical-align: bottom;
        text-align: center;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        border: none;
        transition: 0.35s;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        padding: 16px 22px;
        border-radius: 10px;
        color: #252525;

        &:hover {
          background-color: #fff;
          border: 2px solid #b5d8f7;
        }
      }
    }

    &Products {
      height: 109px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 9px 20px 9px 20px;
      border-bottom: 1px solid gainsboro;

      &Item {
        width: 100%;

        height: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          width: 122px;
          height: 92px;
        }

        &Description {
          height: 45px;
          width: 500px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-right: 10px;
          text-align: center;

          &Controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 40%;
            margin-top: 18px;

            &Quantity {
              width: 96px;
              height: 45px;
              display: inline-flex;
              align-items: center;
              border: 1px solid #dcdcdc;
              border-radius: 10px;
              color: #252525;
              font-size: 16px;
              line-height: 16px;
              margin-left: 0px;

              button {
                width: 31px;
                height: 36px;
                cursor: pointer;
                background: none;
                transition: 0.35s;
                font-size: 24px;
                line-height: 24px;
                color: #5a5a5a;
                background-color: #fff;
                border-radius: 10px;
                padding-bottom: 2px;
                margin: 4px;
                border: none;
              }

              input {
                width: 30px;
                height: 40px;
                text-align: center;
              }

              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              input[type="number"] {
                --moz-appearance: textfield;
              }
            }

            &Price {
              color: #252525;
              font-weight: 400;
              font-size: 18px;
              width: 84px;
              height: 30px;

              span {
                font-weight: 700;
              }
            }

            &Button {
              border: none;
              border-radius: 7px;
              background-color: #b5d8f7;
              height: 45px;
              width: 87px;
              font-size: 12px;
              text-transform: uppercase;
              margin-right: 3px;
              font-weight: 700;

              &:hover {
                background-color: #fff;
                border: 2px solid #b5d8f7;
              }
            }
          }

          p {
            font-weight: bold;
            width: 250px;
            font-size: 14px;
            text-align: center;
            height: 25%;
          }

          &Button {
            border: none;
            margin-left: 20px;
            position: relative;
            top: 10px;

            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }

  &Bottom {
    width: 100%;
    height: 95px;
    background-color: #b5d8f7;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 20px;
    align-items: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    p {
      color: #252525;
      font-weight: bold;
      font-size: 18x;
    }

    button {
      height: 55px;
      width: 250px;
      border: none;
      border-radius: 7px;
      background-color: #fff;
      font-weight: bold;

      &:hover {
        border: 2px solid #fff;
        background-color: #b5d8f7;
      }

      &:disabled {
        background-color: #dcdcdc;
        &:hover {
          border: none;
          background-color: #dcdcdc;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1200px){
  .basket{
    top: 60px;
    right: 0px;

    &Order{
      &Empty{
        button{ 
          width: 160px;
          padding: 0px;
          font-size: 12px;
          font-weight: 400;
        }
      }

      &Products {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid gainsboro;
  
        &Item {
          width: 100%;
  
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          img {
            width: 50px;
            height: 50px;
          }
  
          &Description {
            height: 45px;
            width: 350px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 10px;
            text-align: center;

  
            &Controls {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 40%;
              margin-top: 5px;
  
              &Quantity {
                width: 75px;
                height: 30px;
                display: inline-flex;
                align-items: center;
                border: 1px solid #dcdcdc;
                border-radius: 10px;
                color: #252525;
                font-size: 12px;
                line-height: 14px;
                margin-left: 0px;
  
                button {
                  width: 31px;
                  height: 22px;
                  cursor: pointer;
                  background: none;
                  transition: 0.35s;
                  font-size: 24px;
                  line-height: 24px;
                  color: #5a5a5a;
                  background-color: #fff;
                  border-radius: 10px;
                  padding-bottom: 2px;
                  margin: 4px;
                  border: none;
                }
  
                input {
                  width: 30px;
                  height: 25px;
                  text-align: center;
                }
  
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
  
                input[type="number"] {
                  --moz-appearance: textfield;
                }
              }
  
              &Price {
                color: #252525;
                font-weight: 200;
                font-size: 10px;
                width: 84px;
                height: 15px;
  
                span {
                  font-weight: 700;
                }
              }
  
              &Button {
                border: none;
                border-radius: 7px;
                background-color: #b5d8f7;
                height: 45px;
                width: 87px;
                font-size: 12px;
                text-transform: uppercase;
                margin-right: 3px;
                font-weight: 700;
  
                &:hover {
                  background-color: #fff;
                  border: 2px solid #b5d8f7;
                }
              }
            }
  
            p {
              font-weight: 400;
              width: 120px;
              font-size: 10px;
              text-align: center;
              height: 25%;
            }
  
            &Button {
              border: none;
              margin-left: 20px;
              position: relative;
              top: 1px;
  
              img {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
     
    }



    &Bottom{
      button{
        width: 160px;
        padding: 0px;
        font-size: 10px;
        font-weight: 300;
      }
    }
  }
}

@media (max-width: 768px){
  .basket{
    top: 60px;
    right: 0px;

    &Order{
      &Empty{
        p{
          font-size: 14px;
          margin-top: 10px;
          line-height: 1em;
          font-weight: 400;
        }

        button{ 
          width: 140px;
          padding: 0px;
          font-size: 8px;
          font-weight: 300;
          height: 35px;
        }
      }

      &Products {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid gainsboro;
  
        &Item {
          width: 100%;
  
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          img {
            width: 30px;
            height: 30px;
          }
  
          &Description {
            height: 45px;
            width: 130px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 10px;
            text-align: center;

  
            &Controls {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 70%;
              margin-top: 5px;
  
              &Quantity {
                width: 50px;
                height: 20px;
                display: inline-flex;
                align-items: center;
                border: 1px solid #dcdcdc;
                border-radius: 10px;
                color: #252525;
                font-size: 12px;
                line-height: 14px;
                margin-left: 15px;
  
                button {
                  width: 28px;
                  height: 15px;
                  cursor: pointer;
                  background: none;
                  transition: 0.35s;
                  font-size: 14px;
                  line-height: 16px;
                  color: #5a5a5a;
                  background-color: #fff;
                  border-radius: 10px;
                  padding-bottom: 2px;
                  margin: 4px;
                  border: none;
                }
  
                input {
                  width: 20px;
                  height: 15px;
                  text-align: center;
                }
  
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
  
                input[type="number"] {
                  --moz-appearance: textfield;
                }
              }
  
              &Price {
                color: #252525;
                font-weight: 200;
                font-size: 8px;
                width: 84px;
                height: 12px;
  
                span {
                  font-weight: 700;
                }
              }
  
              &Button {
                border: none;
                border-radius: 7px;
                background-color: #b5d8f7;
                height: 45px;
                width: 87px;
                font-size: 12px;
                text-transform: uppercase;
                margin-right: 3px;
                font-weight: 700;
  
                &:hover {
                  background-color: #fff;
                  border: 2px solid #b5d8f7;
                }
              }
            }
  
            p {
              font-weight: 400;
              width: 120px;
              font-size: 10px;
              text-align: center;
              height: 25%;
              display: none;
            }
  
            &Button {
              border: none;
              margin-left: 10px;
              position: relative;
              top: 1px;
  
              img {
                width: 10px;
                height: 10px;
              }
            }
          }
        }
      }
    }

    &Bottom{
      height: 60px;
      padding-right: 10px;
      padding-left: 10px;

      p{
        font-size: 10px;
      }

      button{
        width: 70px;
        height: 35px;
        padding: 0px;
        font-size: 6px;
        font-weight: 300;
      }
    }
  }
}
