.admin{
  width: 100%;
  // min-height: 600px;
  height: min-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 100px;
}

@media (max-width: 768px){
  .admin{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-top: 0px;
    padding-top: 50px;
  }
}