.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 95px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  &Logo {
    height: 100%;
    width: 301px;
    background-color: #b5d8f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }

  &Navbar {
    margin-left: 15px;
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &Link {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 75px;

        position: relative;

        &:hover::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          border-radius: 7px;
          box-sizing: border-box;
          animation: rotateBorder 0.35s linear forwards;
        }
      }

      height: 100%;
      width: 75px;
      display: flex;
      align-items: center;
      justify-content: center;

      &Icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  &Menu {
    margin-left: 15px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;

    &:hover::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: 7px;
      box-sizing: border-box;
      animation: rotateBorder 0.35s linear forwards;
    }

    &Burger {
      position: absolute;
      z-index: 1;
      width: 233px;
      height: 266px;
      left: -30px;
      top: -25px;
      padding: 28px 25px 0 25px;
      background: #fff;
      border: 2px solid #b5d8f7;
      border-radius: 10px;
      animation: burgerMenu 0.35s linear forwards,
        burgerMenuItem 0.35s linear forwards;

      &:hover {
        display: block;
      }

      &Icon {
        position: relative;
        top: -10px;
      }

      &Item {
        width: 181px;
        height: 44px;
        display: flex;
        justify-content: flex-start;
        padding-left: 16px;
        margin-top: 5px;
        align-items: center;
        font-weight: bold;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        animation: burgerMenuItem 0.35s linear forwards;

        &:hover {
          border: 2px solid #b5d8f7;
          border-radius: 10px;
        }
      }
    }
  }

  &Phone {
    width: 166px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px 10px 6px;
    border-radius: 7px;
    border: 2px solid #b5d8f7;
    background-color: #b5d8f7;
    margin-left: 40px;

    span {
      font-size: 11px;
      margin-top: 4px;
      line-height: 1em;
      font-weight: bold;
      color: #252525;
      margin-left: 8px;
      text-transform: uppercase;
    }

    button {
      border: none;
      background-color: #b5d8f7;
      width: 100%;
      height: 100%;
      padding: 0;
      border-radius: 7px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &:hover {
      border: 2px solid #b5d8f7;
      background-color: #fff;

      button {
        border: none;
        background-color: #fff;
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 7px;
      }
    }
  }

  &Info {
    height: 40px;
    width: 200px;
    text-align: center;
    margin-left: 12px;

    a {
      font-size: 16px;
      color: black;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: #b5d8f7;
      }
    }

    &Details {
      font-size: 11px;
    }
  }

  &User {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    position: relative;

    &:hover::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: 7px;
      box-sizing: border-box;
      animation: rotateBorder 0.35s linear forwards;
    }
  }

  &Basket {
    height: 100%;
    width: 135px;
    align-self: center;
    text-align: center;
    background-color: #b5d8f7;
    margin-left: 41px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 40px;
      width: 40px;
    }

    &ProductQuantity {
      position: relative;
      display: inline-block;
      background-color: #fff;
      border-radius: 100%;
      top: -10px;
      right: 15px;
      width: 25px;
      height: 25px;
      text-align: center;
    }
  }

  &Tablet,
  &Mobile {
    display: none;
  }
}

.productsNavbar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  border-top: 1px solid #dcdcdc;
  background: #fff;
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: space-evenly;
  display: none;
  &Item {
    a {
      font-size: 14px;
      margin: 5px 0 0;
      line-height: 1em;
      font-weight: bold;
      color: #252525;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        height: 30px;
        width: 30px;
      }

      span {
        margin-top: 4px;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 95px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .header {
    display: none;
  }

  .headerTablet {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    &Logo {
      height: 100%;
      width: 130px;
      background-color: #b5d8f7;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;

      &Big,
      &Mobile {
        display: none;
      }
    }

    &Phone,
    &User,
    &Menu {
      width: 20%;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        border: none;
      }
    }

    &Menu {
      position: relative;

      &:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 7px;
        box-sizing: border-box;
      }

      &Burger {
        position: absolute;
        z-index: 50;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 50vw;
        height: 100vh;
        left: 0;
        border-top: 1px solid gainsboro;
        top: 47px;
        background: #fff;
        animation: burgerMenu 0.35s linear forwards,
          burgerMenuItem 0.35s linear forwards;

        &:hover {
          display: block;
        }

        &Item {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: flex-start;
          padding-left: 16px;
          margin-top: 5px;
          align-items: center;
          font-weight: bold;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          animation: burgerMenuItem 0.35s linear forwards;

          &Souce {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: bold;
            padding: 15px 20px 6px;
            margin-bottom: 10px;

            img {
              height: 30px;
              width: 30px;
            }
            a {
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
            span {
              font-size: 14px;
              margin-left: 15px;
              line-height: 1em;
            }
          }

          &Link {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 120px;

            &Item {
              font-size: 14px;
              font-weight: bold;
              display: block;
              width: 100%;
              color: #252525;
              padding: 8px 10px 8px 20px;
            }
          }

          &Phone {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            margin-top: 20px;
            padding: 0 20px;

            a {
              font-size: 16px;
              color: black;
              text-decoration: none;
              font-weight: bold;
              margin-bottom: 8px;
            }

            &Details {
              font-size: 11px;
            }
          }

          &Call {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 10px 6px;
            margin-top: 40px;

            span {
              font-size: 12px;
              margin-top: 4px;
              line-height: 1em;
              font-weight: bold;
              color: #252525;
              margin-left: 8px;
              text-transform: uppercase;
            }

            button {
              border: none;
              background-color: #b5d8f7;
              width: 194px;
              height: 100%;
              border-radius: 7px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 14px 16px;
              font-size: 14px;
              line-height: 14px;
            }
          }
        }
      }
    }

    &Basket {
      height: 100%;
      width: 135px;
      align-self: center;
      text-align: center;
      background-color: #b5d8f7;
      margin-left: 41px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 40px;
        width: 40px;
      }

      &ProductQuantity {
        position: relative;
        display: inline-block;
        background-color: #fff;
        border-radius: 100%;
        top: -10px;
        right: 15px;
        width: 25px;
        height: 25px;
        text-align: center;
      }
    }
  }

  .productsNavbar {
    display: flex;
  }

  .overlay {
    top: 60px;
  }
}

@media (max-width: 768px) {
  .header {
    display: none;
  }

  .headerTablet {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    &Logo {
      display: none;
    }

    &LogoMobile {
      height: 100%;
      width: 70px;
      background-color: #b5d8f7;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      display: block;
    }

    &Phone,
    &User,
    &Menu {
      width: 20%;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        border: none;
      }
    }

    &Menu {
      position: relative;

      &:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 7px;
        box-sizing: border-box;
      }

      &Burger {
        position: absolute;
        z-index: 50;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 50vw;
        height: 100vh;
        left: 0;
        border-top: 1px solid gainsboro;
        top: 47px;
        background: #fff;
        animation: burgerMenu 0.35s linear forwards,
          burgerMenuItem 0.35s linear forwards;

        &:hover {
          display: block;
        }

        &Item {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: flex-start;
          padding-left: 16px;
          margin-top: 5px;
          align-items: center;
          font-weight: bold;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          animation: burgerMenuItem 0.35s linear forwards;

          &Souce {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: bold;
            padding: 15px 20px 6px;
            margin-bottom: 10px;

            img {
              height: 30px;
              width: 30px;
            }
            a {
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
            span {
              font-size: 14px;
              margin-left: 15px;
              line-height: 1em;
            }
          }

          &Link {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 120px;

            &Item {
              font-size: 14px;
              font-weight: bold;
              display: block;
              width: 100%;
              color: #252525;
              padding: 8px 10px 8px 20px;
            }
          }

          &Phone {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            margin-top: 20px;
            padding: 0 20px;

            a {
              font-size: 16px;
              color: black;
              text-decoration: none;
              font-weight: bold;
              margin-bottom: 8px;
            }

            &Details {
              font-size: 11px;
            }
          }

          &Call {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 10px 6px;
            margin-top: 40px;

            span {
              font-size: 12px;
              margin-top: 4px;
              line-height: 1em;
              font-weight: bold;
              color: #252525;
              margin-left: 8px;
              text-transform: uppercase;
            }

            button {
              border: none;
              background-color: #b5d8f7;
              width: 194px;
              height: 100%;
              border-radius: 7px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 14px 16px;
              font-size: 14px;
              line-height: 14px;
            }
          }
        }
      }
    }

    &Basket {
      height: 100%;
      width: 135px;
      align-self: center;
      text-align: center;
      background-color: #b5d8f7;
      margin-left: 41px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 40px;
        width: 40px;
      }

      &ProductQuantity {
        position: relative;
        display: inline-block;
        background-color: #fff;
        border-radius: 100%;
        top: -10px;
        right: 15px;
        width: 25px;
        height: 25px;
        text-align: center;
      }
    }
  }

  .productsNavbar {
    display: flex;
  }

  .overlay {
    top: 60px;
  }
}

@keyframes rotateBorder {
  25% {
    border-top: 2px solid #b5d8f7;
  }
  50% {
    border-top: 2px solid #b5d8f7;
    border-right: 2px solid #b5d8f7;
  }
  75% {
    border-top: 2px solid #b5d8f7;
    border-right: 2px solid #b5d8f7;
    border-bottom: 2px solid #b5d8f7;
  }
  100% {
    border-top: 2px solid #b5d8f7;
    border-right: 2px solid #b5d8f7;
    border-bottom: 2px solid #b5d8f7;
    border-left: 2px solid #b5d8f7;
  }
}

@keyframes burgerMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes burgerMenuItem {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.disabled {
  pointer-events: none;
}

.hidden {
  opacity: 0;
}
