.product {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;

  &Image {
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
      height: 50%;
    }
  }

  &Description {
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px;

    h5 {
      color: #252525;
      font-weight: bold;
      font-size: 42px;
      line-height: 1.2em;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 1.4em;
      color: #5a5a5a;

      span {
        color: #b5d8f7;
        font-weight: bold;
      }
    }
  }
}

.trySwiper,
.tasteWithSwiper {
  width: 100%;
  height: min-content;
  display: flex;
  padding: 0 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  h2 {
    font-size: 42px;
    line-height: 1.2em;
    color: #252525;
    font-weight: bold;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .product {
    &Description {
      width: 55%;
    }
  }
}

@media (max-width: 768px) {
  .product {
    margin-top: 30px;
    height: min-content;
    flex-direction: column;

    &Image,
    &Description {
      width: 96%;
      padding: 20px;
      h5 {
        font-size: 32px;
      }
    }
  }
}
