.footer {
  width: 100%;
  border-top: 4px solid #b5d8f7;

  &Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    padding: 20px 36px;

    &Logo {
      margin-top: 20px;
      img {
        width: 136px;
        height: 50px;
      }
    }

    &Items {
      width: 390px;
      margin-top: 21px;
      padding-left: 79px;
      height: 27px;
      display: flex;
      justify-content: space-between;

      ul {
        display: contents;
      }

      li {
        list-style: none;

        a {
          text-decoration: none;
          font-size: 16px;
          line-height: 1em;
          color: #252525;

          &:hover {
            color: #b5d8f7;
            transition: 0.35s;
          }
        }
      }
    }

    &Info {
      width: 600px;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      &Delivery {
        width: 215px;
        height: 100%;

        &Title {
          font-weight: bold;
          color: #252525;
          font-size: 14px;
        }

        &Description {
          font-size: 13px;
          color: #5a5a5a;
          text-align: center;
        }
      }

      &Phone {
        height: 100%;
        width: 170px;

        &Title {
          font-weight: bold;
          color: #252525;
          font-size: 14px;
        }

        &Description {
          font-size: 13px;
          color: #5a5a5a;
          text-align: center;

          &:hover {
            color: #b5d8f7;
            transition: 0.35s;
          }
        }
      }

      &Work {
        height: 100%;
        width: 190px;

        &Title {
          font-weight: bold;
          color: #252525;
          font-size: 14px;
        }

        &Description {
          font-size: 13px;
          color: #5a5a5a;
          text-align: center;
        }
      }
    }
  }

  &Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 87px;
    padding: 20px 0;

    &Copyright {
      width: 160px;
      padding-left: 34px;
      p {
        font-size: 14px;
        color: #5a5a5a;
        text-align: center;
      }
    }

    &Paycards {
      width: 600px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 107px;

      &CardsItem {
        width: 70px;
        height: 40px;
        border-radius: 7px;
        border: 1px solid #5a5a5a;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;

        img {
          width: 34px;
          height: 22px;
        }
      }

      &Owner {
        width: 377px;
        padding-left: 67px;
        p {
          font-size: 18px;
          color: #5a5a5a;
        }
      }
    }

    &Social {
      width: 250px;
      height: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;

      p {
        font-size: 13px;
        color: #5a5a5a;
        text-align: center;
        align-self: center;
      }

      &Item {
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 7px;
        background-color: #b5d8f7;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

        img {
          width: 18px;
          height: 18px;
        }
      }
    }

    &Developer {
      width: 275px;
      p {
        font-size: 13px;
        color: #5a5a5a;
        text-align: center;
      }
    }
  }

  &Tablet,
  &Mobile {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .footer,
  .footerMobile {
    display: none;
  }

  .footerTablet {
    display: block;
    margin-bottom: 60px;
    width: 100%;
    border-top: 4px solid #b5d8f7;

    &Top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      height: 110px;
      padding: 20px 60px;

      &Logo {
        margin-top: 20px;
        img {
          width: 136px;
          height: 50px;
        }
      }

      &Items {
        width: 390px;
        margin-top: 21px;
        padding-left: 79px;
        height: 27px;
        display: flex;
        justify-content: space-between;

        ul {
          display: contents;
        }

        li {
          list-style: none;

          a {
            text-decoration: none;
            font-size: 16px;
            line-height: 1em;
            color: #252525;

            &:hover {
              color: #b5d8f7;
              transition: 0.35s;
            }
          }
        }
      }

      &Info {
        width: 100vw;
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        &Delivery {
          width: 215px;
          height: 100%;

          &Title {
            font-weight: bold;
            color: #252525;
            font-size: 14px;
          }

          &Description {
            font-size: 13px;
            color: #5a5a5a;
            text-align: center;
          }
        }

        &Phone {
          height: 100%;
          width: 170px;

          &Title {
            font-weight: bold;
            color: #252525;
            font-size: 14px;
          }

          &Description {
            font-size: 13px;
            color: #5a5a5a;
            text-align: center;

            &:hover {
              color: #b5d8f7;
              transition: 0.35s;
            }
          }
        }

        &Work {
          height: 100%;
          width: 190px;

          &Title {
            font-weight: bold;
            color: #252525;
            font-size: 14px;
          }

          &Description {
            font-size: 13px;
            color: #5a5a5a;
            text-align: center;
          }
        }
      }
    }

    &Bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      height: 87px;
      padding: 20px 0;

      &Copyright {
        padding-left: 34px;
        p {
          font-size: 14px;
          color: #5a5a5a;
          text-align: center;
        }
      }

      &Paycards {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &CardsItem {
          width: 70px;
          height: 40px;
          border-radius: 7px;
          border: 1px solid #5a5a5a;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;

          img {
            width: 34px;
            height: 22px;
          }
        }

        &Owner {
          padding-left: 67px;
          p {
            font-size: 18px;
            color: #5a5a5a;
          }
        }
      }

      &Social {
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        p {
          font-size: 13px;
          color: #5a5a5a;
          text-align: center;
          align-self: center;
        }

        &Item {
          width: 50px;
          height: 50px;
          border: none;
          border-radius: 7px;
          background-color: #b5d8f7;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;

          img {
            width: 18px;
            height: 18px;
          }
        }
      }

      &Developer {
        margin-right: 30px;
        p {
          font-size: 13px;
          color: #5a5a5a;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer,
  .footerTablet {
    display: none;
  }

  .footerMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
    width: 100vw;
    border-top: 4px solid #b5d8f7;
    padding: 30px 0 10px;
    height: min-content;

    &Logo {
      img {
        height: 41px;
        width: 110px;
      }
    }

    &Social {
      height: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      margin-top: 10px;

      &Item {
        width: 35px;
        height: 35px;
        border: none;
        border-radius: 7px;
        background-color: #b5d8f7;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

        img {
          width: 18px;
          height: 18px;
        }
      }
    }

    &Links {
      width: 33vw;
      margin-top: 10px;
      padding-left: 0px;
      height: 27px;
      display: flex;
      justify-content: space-between;

      ul {
        display: contents;
      }

      li {
        list-style: none;

        a {
          text-decoration: none;
          font-size: 14px;
          line-height: 1em;
          color: #252525;

          &:hover {
            color: #252525;
            transition: 0.35s;
          }
        }
      }
    }

    &Info {
      width: 100vw;
      height: 180px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      flex-direction: column;
      margin-top: 10px;

      &Delivery {
        width: 215px;
        height: 100%;
        margin-top: 10px;

        &Title {
          font-weight: bold;
          color: #252525;
          font-size: 14px;
        }

        &Description {
          font-size: 13px;
          color: #5a5a5a;
          text-align: center;
        }
      }

      &Phone {
        height: 100%;
        width: 170px;
        margin-top: 10px;

        &Title {
          font-weight: bold;
          color: #252525;
          font-size: 14px;
        }

        &Description {
          font-size: 13px;
          color: #5a5a5a;
          text-align: center;

          &:hover {
            color: #b5d8f7;
            transition: 0.35s;
          }
        }
      }

      &Work {
        height: 100%;
        width: 190px;
        margin-top: 10px;

        &Title {
          font-weight: bold;
          color: #252525;
          font-size: 14px;
        }

        &Description {
          font-size: 13px;
          color: #5a5a5a;
          text-align: center;
        }
      }
    }

    &Paycards {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;

      &CardsItem {
        width: 60px;
        height: 35px;
        border-radius: 7px;
        border: 1px solid #5a5a5a;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;

        img {
          width: 30px;
          height: 20px;
        }
      }
    }

    &Copyright {
      width: 100vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      padding: 0 10px;
      p {
        font-size: 14px;
        color: #5a5a5a;
        text-align: center;
      }
    }
  }
}
