.modal {
  position: relative;
  z-index: 99;
  width: 220px;
  height: 317px;
  left: 87px;
  top: 114px;
  padding: 44px 25px 0 25px;
  background: #fff;
  border: 2px solid #b5d8f7;
  border-radius: 3px;

  // display: none;
  animation: burgerMenu 0.35s linear forwards, burgerMenuItem 0.35s linear forwards;

  &:hover{
    display: block;
  }

  &Icon{
    height: 25px;
    width: 44px;
    position: relative;
    top: -13px;
  }

  &Item{
    width: 181px;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
    margin-top: 12px;
    align-items: center;
    font-weight: bold;
    // opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: burgerMenuItem 0.35s linear forwards;

    &:hover{
      border: 2px solid #b5d8f7;
      border-radius: 10px; 
    }
  }

}