.product {
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &Wrapper {
    width: 100%;
    min-height: 450px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    &Item {
      padding: 10px;
      height: 448px;
      width: 296px;
      padding: 0 3px;
      margin: 14px 0px;
      margin-bottom: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      position: relative;

      img {
        width: 240px;
        height: 240px;
      }

      p {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &Name {
        font-weight: 600;
        line-height: 1.5em;
        font-size: 20px;
        margin: 10px;
        margin-top: 22px;
        &:hover {
          color: #b5d8f7;
        }
      }

      &Description {
        color: #5a5a5a;
        font-size: 16px;
        line-height: 1.5em;
        margin-top: 10px;
      }

      &Weight {
        justify-content: flex-end !important;
        padding-right: 15px;
        color: #5a5a5a;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.6em;
      }

      &:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 7px;
        box-sizing: border-box;
        animation: rotateBorder 0.7s linear forwards;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        pointer-events: none;
      }

      &:not(:hover) a {
        pointer-events: auto;
      }
    }
  }
}

@media (max-width: 1200px) {
  .product {
    &Wrapper {
      &Item {
        height: 448px;
        width: 310px;
        margin: 14px 10px;

        &Name {
          &:hover {
            color: black;
          }
        }

        img {
          width: 300px;
          height: 240px;
        }

        &:hover::before {
          display: none;
        }
      }
    }
  }
}

@keyframes rotateBorder {
  25% {
    border-top: 2px solid #b5d8f7;
  }
  50% {
    border-top: 2px solid #b5d8f7;
    border-right: 2px solid #b5d8f7;
  }
  75% {
    border-top: 2px solid #b5d8f7;
    border-right: 2px solid #b5d8f7;
    border-bottom: 2px solid #b5d8f7;
  }
  100% {
    border-top: 2px solid #b5d8f7;
    border-right: 2px solid #b5d8f7;
    border-bottom: 2px solid #b5d8f7;
    border-left: 2px solid #b5d8f7;
  }
}

.wrapper {
  width: 100%;
  height: 620px;
  padding: 40px 13px;
  display: flex;
  justify-content: center;
  // align-items: flex-start;
  align-items: center;
  // border: 1px solid red;


  img {
    height: 240px;
    border-radius: 15px;
  }

  .swiper-pagination {
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    position: relative;
    top: -26px;

    // .swiper-pagination-bullet {
    //   width: 22px;
    //   height: 22px;
    //   // background-color: red;
    //   // opacity: 0.5;
    //   // margin: 0 12px;
    // }
    // .swiper-pagination-bullet-active {
    //   background-color: blue; /* Your custom active bullet color */
    // }
  }

  &Tablet,
  &Mobile {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .wrapper {
    display: none;
  }

  .wrapperTablet {
    width: 80vw;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

    img {
      width: 457px;
      height: 100%;
      border-radius: 15px;
    }
  }

  .wrapperMobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapperTablet,
  .wrapper {
    display: none;
  }

  .wrapperMobile {
    display: block;
    width: 80vw;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

    img {
      width: 510px;
      height: 100%;
      border-radius: 15px;
    }
  }
}

.bullet {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 12px;
  border-radius: 50%;
  background-color: #b5d8f7;
}

.activeBullet {
  background-color: #daeaf7;
}